<!DOCTYPE html>
<html>
<head>
<meta charset="Utf-8">
<title>Insert title here</title>
</head>
<body>
<div th:if="${session.name ==null}">
    ssss
</div>
	<div id="users"></div>
	<form action="http://localhost:10084/test/check" method="post">
	<input type="text" name="username" id="username" placeholder="帳號">
	<input type="password" id="password" name="password" placeholder="密碼">
	
	<input type="text" name="_csrf" th:value="${_csrf.token}">

	<input type="checkbox" name="remember-me" title="">自動登入<br>
	<input type="submit" value="login">
	
	</form>
	<!-- 
	
	<input type="button" id="login" name="check" value="確定">
	
	 -->
</body>
<!-- 
<script th:src="@{/static/jquery/jquery.js}"></script>
	<script>
	$(function() {

		$('#login').on('click', function() {

			var username = $("#username").val()

			console.log(username);

			var result = {
				"username" : $("#username ").val(),
				"password" : $("#password ").val()
			};

			$.ajax({
				url : "http://localhost:10084/test/check",
				method : "post",
				dataType : "json",
				async : false,
				contentType : 'application/json;charset=utf-8',
				data : JSON.stringify(result)

			}).done(function(res) {

				window.location.reload();
				console.log(res);
				

			}).fail(function(err) {

				console.log(err);
			})
		})

	})
	</script>
	 -->
</html>