<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>Insert title here</title>
</head>
<body>
	1234564645
	<div id="users"></div>
	
	<input type="text" name="user" id="username" placeholder="帳號">
	<input type="password" id="password" name="password" placeholder="密碼">
	
	<input type="button" id="create" name="check" value="確定">
	<input type="text" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	<input class="i-checks" type="checkbox" name="rememberme">&nbsp;&nbsp;記住我
	
</body>

<script th:src="@{/static/jquery/jquery.js}"></script>
	<script>
	$(function() {

		$.ajax({
			url : "http://localhost:10084/select",
			method : "get",
			dataType : "json",
			data : {}

		}).done(
				function(res) {

					console.log(res);
				//	$("#users").empty()

					res.forEach(function(user) {
						$("#users").append(
								"使用者id: <li>" + user.id + "</li>使用者名稱:	<li>"
										+ user.username + "</li>"+"使用者密碼: 	<li>"+user.password+"</li>")
					})

				}).fail(function(err) {

			console.log(err);
		})

		$('#create').on('click', function() {

			var username = $("#username").val()

			console.log(username);

			var result = {
				"username" : $("#username ").val(),
				"password" : $("#password ").val()
			};

			$.ajax({
				url : "http://localhost:10084/insert",
				method : "post",
				dataType : "json",
				async : false,
				contentType : 'application/json;charset=utf-8',
				data : JSON.stringify(result)

			}).done(function(res) {

				console.log(res);
				window.location.reload();

			}).fail(function(err) {

				console.log(err);
			})
		})

	})
	</script>
	
</html>